@page "/logoutPage"

@model bbt.gateway.messaging.ui.Pages.Authorize.LogoutModel
@{
   <div>
   <p>Yetkiniz için verilen süre bitmiştir. Tekrar Login olmanız gerekmektedir</p>
  <a href="/login">Log in </a>
   </div>
}
