@inherits LayoutComponentBase
@using bbt.gateway.messaging.ui.Pages.Authorize
<PageTitle>bbt.gateway.messaging.ui</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="page">
               <BaseAuthorizeView>
            <AuthorizedControl>
    <RadzenDialog />
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
     
                    <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
         
          
             
     
    </main>
      </AuthorizedControl>
       <NotAuthorizedControl>
            <div class="sidebar">
                 </div>
                  <main>
                       <article class="content px-4">
           <p>
             <h3 class="ml-md-auto">Bu sayfaya erişim için yetkiniz bulunmamaktadır</h3>
             <br />
             </p>
             <p>
                 <br />
             </p>
              </article>
                 </main>
       </NotAuthorizedControl>

        </BaseAuthorizeView>
</div>
</Authorized><NotAuthorized><h1>EBT.bank a bağlanılmadı</h1></NotAuthorized>
</AuthorizeView>
   @* </AuthorizedControl>
    <NotAuthorizedControl>
          <div class="page">
    <RadzenDialog />
    <div class="sidebar">
        
    </div>

    <main>
        <div class="top-row px-4">
         
        </div>

        <article class="content px-4">
            <h3>Bu sayfaya erişiminiz bulunmamaktadır.</h3>
        </article>
    </main>
</div>
    </NotAuthorizedControl>
</BaseAuthorizeView>*@